<div class="container-fluid mt-3">

  <div class="btn-group mb-3">
    <button class="btn btn-outline-primary" (click)="showBiggestCar()">Car</button>
    <button class="btn btn-outline-primary" (click)="showBiggestAirplane()">Airplane</button>
    <button class="btn btn-outline-primary" (click)="showBiggestShip()">Ship</button>
  </div>

  <div *ngIf="isShowBiggestCar">
    <app-car></app-car>
  </div>

  <div *ngIf="isShowBiggestAirplane">
    <app-airplane></app-airplane>
  </div>

  <div *ngIf="isShowBiggestShip">
    <app-ship></app-ship>
  </div>

</div>
