<div class="mb-3">
  <h4>Work experience</h4>
</div>
<ul>
  <li *ngFor="let work of Work">
    <div class="mb-3">
      <div>
        <strong>{{work.Company}}</strong>, {{work.City}} - <i>{{work.Position}}</i>
      </div>
      <div>
        <span>
          {{work.DateOfEmployment| date:"MMMM y"}} - {{work.DateOfCompletion| date:"MMMM y"}}&#32;
        </span>
        <span>
          (
        </span>
        <span *ngIf="work.getEmploymentTime()[0] > 0">
          {{work.getEmploymentTime()[0]}} years
        </span>
        <span *ngIf="work.getEmploymentTime()[1] > 0">
          {{work.getEmploymentTime()[1]}} month
        </span>
        <span>
          )
        </span>
      </div>
      <div>
        {{work.Experience}}
      </div>
    </div>
  </li>
</ul>
