<div class="container my-1" id="cvContainer">
  <div class="row">
    <div class="col-4" id="leftSideDiv">
      <div class="container-fluid">
        <div class="mt-1 mb-4">
          <app-contacts></app-contacts>
        </div>
        <div class="mb-4">
          <app-skills></app-skills>
        </div>
        <div class="mb-4">
          <app-education></app-education>
        </div>
        <div class="mb-4">
          <app-certificates></app-certificates>
        </div>
      </div>
    </div>
    <div class="col" id="rightSideDiv">
      <div class="container-fluid">
        <div class="mt-3 mb-4">
          <app-about-me></app-about-me>
        </div>
        <div class="mb-4">
          <app-projects></app-projects>
        </div>
      </div>
    </div>
  </div>
</div>
