<div class="mb-3">
  <img src="./assets/Photo.png" class="img-fluid mx-auto d-block" alt="CV Photo" />
</div>
<div class="mb-3">
  Reside in Kryvyi Rih. Ready to relocate to any city in Ukraine.
</div>
<div>
  <h4>Contacts</h4>
  <div>
    Tel.: +380XXXXXXXXX
  </div>
  <div>
    Telegram: @XXXXX
  </div>
  <div>
    E-Mail: XXXXX@XXX.XXX
  </div>
  <div>
    LinkedIn: /XXXXX
  </div>
  <div>
    GitHib: <a class="text-info text-decoration-none fw-semibold" href="https://github.com/Rhoxolan" target="_blank">github.com/Rhoxolan</a>
  </div>
</div>
