<div class="d-flex">
  <div *ngFor="let painting of Paintings" class="me-4" id="paintingCardDiv">
    <div class="d-flex align-items-center justify-content-center" id="paintingDiv">
      <img [src]="getPaintingThumbnailURL(painting.id)" [alt]="painting.name">
    </div>
    <div class="mb-1">
      Author: {{painting.author}}
    </div>
    <div class="mb-1">
      Name: {{painting.name}}
    </div>
    <div class="mb-1">
      Year: {{painting.year}}
    </div>
    <div class="mb-1">
      Genre: {{painting.genre}}
    </div>
  </div>
</div>
