<div id="headerDiv" class="mb-4">
  <div id="nameDiv">
    <strong>Pavlo Batsemakin</strong>
  </div>
  <h2>
    Full Stack (ASP.NET Core) Developer
  </h2>
  <div class="fs-4">
    <i>CV current as of 15 June 2023</i>
  </div>
</div>
<h4>
  About me
</h4>
<div>
  Author of the web-project Structured Cabling Studio. Have experience in the development of desktop applications.<br>
  Specialize in full stack web development using the ASP.NET Core platform.<br>
  My GitHub - <a class="text-primary text-decoration-none fw-bold" href="https://github.com/Rhoxolan"
    target="_blank">github.com/Rhoxolan</a>.<br>
  A page with the list of all my projects and works -
  <a class="text-primary text-decoration-none fw-bold" href="https://github.com/Rhoxolan/Extended_Readme"
    target="_blank">github.com/Rhoxolan/Extended_Readme</a>.
</div>
